.img {
    width: 6rem;
}

.btn-cerrar-sesion {
    color: #dfdfdf;
    margin-left: 4rem;
}

.btn-cerrar-sesion:hover {
    color: #ffff;
}

.navDerecha {
    display: flex;
}


.btn:focus {
    border: 0px;
}

@media (max-width: 993px) {
    .btn-cerrar-sesion {
        margin: 0 0 1rem;
        padding: 0;
    }

    .navDerecha {
        flex-direction: column-reverse;
    }

    .username {
        margin: 0 0 1rem;
    }
}

.textnav{
    color: #e70505;
}